body {
  display: grid;
  grid-template-columns: repeat(8, 12vw);
  grid-template-rows: repeat(3, 33vh);
  gap: 1rem;
  background-color: #c2c1c3;
}
body .basic-info-container,
body .more-info-container {
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-style: italic;
}
body .basic-info-container h2,
body .more-info-container h2 {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
body .basic-info-container .key,
body .more-info-container .key {
  font-weight: 700;
}
body .basic-info-container button,
body .more-info-container button {
  margin-top: 0.5rem;
}
body .more-info-container {
  display: none;
}
body header {
  grid-column: 2/8;
  grid-row: 1/2;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 72vw;
  background-color: #e2dfe3;
}
body header h1 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
body header #header-img-container {
  width: 100%;
  height: 15rem;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body header #header-text-container {
  width: 100%;
  background-color: #e2dfe3;
}
body header .info-box h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
body header .info-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
body header h2 {
  padding: 0;
  margin-bottom: 0;
}
body header p {
  padding: 0;
  margin-top: 0;
  line-break: loose;
}
body aside {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-top: 2rem;
}
body aside nav {
  height: 90%;
}
body aside nav ul {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
}
body aside nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body aside nav ul li:last-child {
  margin-top: auto;
}
body aside nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
}
body aside nav ul li a:hover {
  background-color: #f1f1f1;
}
body aside nav ul li a:active {
  background-color: #2b7ae1;
}
body main {
  grid-column: 2/8;
  grid-row: 2/4;
}
body main #cardspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main #cardspace .card {
  width: 25rem;
  height: auto;
  margin: 1%;
  background-color: #e2dfe3;
  border: 1px solid black;
  border-radius: 5px;
}
body main #cardspace .card .card-img-container {
  height: 12.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
}
body main #cardspace .card .card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px, dotted #350f94;
}
body main #cardspace .photocard {
  width: 20%;
  height: auto;
  margin: 1%;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 5px;
}
body main #cardspace .photocard:hover {
  border-radius: 5px;
  transform: scale(1.1);
}
body main #cardspace .photocard .photocard-img-container {
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
}
body main #cardspace .photocard .photocard-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
body #presentation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 2rem;
}
body #presentation .segment {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: #e2dfe3;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}
body #presentation .segment#team-info-box .image-container {
  width: 100%;
  height: 30%;
}
body #presentation .segment#team-info-box .image-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
body #presentation .segment#vd-info-box a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
  margin-left: 1rem;
  text-align: center;
}
body #presentation .segment#vd-info-box a:hover {
  background-color: #f1f1f1;
}
body #presentation .segment#vd-info-box a.active {
  background-color: #77a0d6;
}
body #presentation .segment#vd-info-box .image-container {
  width: 40%;
  height: 100px;
}
body #presentation .segment#vd-info-box .image-container img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
body #contactform {
  margin: auto;
}
body #contactform label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: large;
  padding: 1.5rem;
}
body #contactform textarea {
  width: 100%;
  padding: 1.5rem;
}
body #contactform input {
  width: 60%;
  box-sizing: border-box;
  border: 1px, ridge, #350f94;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
body #contactform input[type=submit] {
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 27%;
  border: none;
}
body #contactform textarea {
  width: 50%;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  resize: none;
}
body #projectregistration {
  width: 100%;
  grid-column: inherit;
  grid-row: inherit;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
body #projectregistration div {
  display: flex;
  gap: 1rem;
}
body #projectregistration label {
  width: 10%;
  display: inline-block;
  text-align: end;
}
body #projectregistration input {
  width: 40%;
  margin-left: 40%;
  display: block;
  box-sizing: border-box;
  border: 1px, ridge, #350f94;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
body #projectregistration input[type=submit] {
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 27%;
  border: none;
}
body #projectregistration .filedrop {
  display: flex;
  background-color: #350f94;
}
body #projectregistration .filedrop input {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
