body {
  display: grid;
  grid-template-columns: repeat(8, 12vw);
  grid-template-rows: repeat(3, 33vh);
  gap: 1rem;
  background-color: #c2c1c3;
}
body .basic-info-container,
body .more-info-container {
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-style: italic;
}
body .basic-info-container p,
body .more-info-container p {
  margin: 0.5rem;
}
body .basic-info-container h2,
body .more-info-container h2 {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
body .basic-info-container .key,
body .more-info-container .key {
  font-weight: 700;
}
body .basic-info-container button,
body .more-info-container button {
  margin-top: 0.5rem;
}
body .more-info-container {
  display: none;
}
body header {
  grid-column: 2/8;
  grid-row: 1/2;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 72vw;
  background-color: #c2c1c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}
body header #header-img-container {
  width: 100%;
  height: 12rem;
  align-self: flex-end;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body header #header-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
body header #header-text-container div {
  width: 20%;
  border: 3px dotted black;
  border-radius: 20px;
  background-color: #e2dfe3;
}
body aside {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-top: 4rem;
}
body aside nav {
  height: 90%;
}
body aside nav ul {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
}
body aside nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body aside nav ul li:last-child {
  margin-top: auto;
}
body aside nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
}
body aside nav ul li a:hover {
  background-color: #f1f1f1;
}
body aside nav ul li a:active {
  background-color: #2b7ae1;
}
body main {
  grid-column: 2/8;
  grid-row: 2/4;
}
body main #cardspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
body main #cardspace .card {
  width: 25rem;
  height: auto;
  margin: 1%;
  background-color: #e2dfe3;
  border: 1px solid black;
  border-radius: 5px;
}
body main #cardspace .card .card-img-container {
  height: 12.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
}
body main #cardspace .card .card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px, dotted #350f94;
}
body main #cardspace .photocard {
  width: 20%;
  height: auto;
  margin: 1%;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 5px;
}
body main #cardspace .photocard:hover {
  border-radius: 5px;
  transform: scale(1.1);
}
body main #cardspace .photocard .photocard-img-container {
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
}
body main #cardspace .photocard .photocard-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
body main #presentation {
  width: 80vw;
  max-width: 1000px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
body main #presentation .segment {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 1%;
  background-color: #e2dfe3;
}
body main #presentation .segment#team-info-box .image-container {
  width: 100%;
  height: 100px;
}
body main #presentation .segment#team-info-box .image-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
body main #presentation .segment#vd-info-box {
  padding: 0;
  height: 150px;
  display: flex;
  width: 50%;
}
body main #presentation .segment#vd-info-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main #presentation .segment#vd-info-box a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  margin-left: 1rem;
  text-align: center;
}
body main #presentation .segment#vd-info-box a:hover {
  background-color: #f1f1f1;
}
body main #presentation .segment#vd-info-box a.active {
  background-color: #77a0d6;
}
body main #presentation .segment#vd-info-box .image-container {
  margin: 0;
  width: 150px;
  height: 150px;
}
body main #presentation .segment#vd-info-box .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main #presentation #contact-form-container {
  display: flex;
  justify-content: center;
}
body main #presentation #contact-form-container #contact-form {
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}
body main #presentation #contact-form-container #contact-form h2 {
  margin-left: 5rem;
  font-style: italic;
}
body main #presentation #contact-form-container #contact-form div {
  display: flex;
  gap: 2rem;
}
body main #presentation #contact-form-container #contact-form label {
  width: 20%;
  display: inline-block;
  text-align: end;
  height: 2rem;
  padding-top: 0.8rem;
}
body main #presentation #contact-form-container #contact-form #submit-button-label {
  visibility: hidden;
}
body main #presentation #contact-form-container #contact-form input {
  box-sizing: border-box;
  width: 58%;
  display: block;
}
body main #presentation #contact-form-container #contact-form input[type=submit] {
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #08090b;
  color: #e2dfe3;
  font-weight: 600;
  font-size: large;
}
body main #presentation #contact-form-container #contact-form textarea {
  box-sizing: border-box;
  width: 58%;
  margin: 0;
}
body main #presentation #contact-form-container #thankyou-message {
  font-style: italic;
  font-weight: 700;
  padding: 4rem;
  font-size: 2rem;
}
body main #projectregistration {
  padding-top: 100px;
  box-sizing: border-box;
  width: 700px;
  grid-column: inherit;
  grid-row: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}
body main #projectregistration h2 {
  margin-left: calc(15% + 1rem);
}
body main #projectregistration div {
  display: flex;
  gap: 1rem;
  width: 100%;
}
body main #projectregistration label {
  width: 15%;
  box-sizing: border-box;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
}
body main #projectregistration input {
  box-sizing: border-box;
  width: 70%;
  display: block;
  font-size: 1rem;
}
body main #projectregistration input[type=submit] {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
  width: 15%;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  margin-left: 40%;
}
body main #projectregistration select {
  box-sizing: border-box;
  width: 70%;
  display: block;
  font-size: 1rem;
}
body main #projectregistration textarea {
  box-sizing: border-box;
  width: 70%;
  display: block;
  font-size: 1rem;
}
body main #projectregistration .filedrop-section {
  box-sizing: border-box;
  width: 100%;
}
body main #projectregistration .filedrop-section .file-drop-container {
  box-sizing: border-box;
  width: 70%;
  display: block;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
body main #projectregistration .filedrop-section .file-drop-container label {
  width: 15%;
  box-sizing: border-box;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7ec;
  cursor: pointer;
}
body main #projectregistration .filedrop-section .file-drop-container label:hover {
  background: #a7aaa8;
}
body main #projectregistration .filedrop-section .file-drop-container label:active {
  background: #a19fa0;
}
body main #projectregistration .filedrop-section .file-drop-container input {
  display: none;
}

/*# sourceMappingURL=style.css.map */
