body {
  display: grid;
  grid-template-columns: repeat(8, 12vw);
  grid-template-rows: repeat(3, 33vh);
  gap: 1rem;
}

div {
  padding: 0%;
}

header {
  grid-column: 2/8;
  grid-row: 1/2;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 72vw;
}
header #header-img-container {
  width: 100%;
  height: 15rem;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header #header-text-container {
  width: 100%;
  background-color: #77a0d6;
}
header .info-box h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
header .info-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
header h2 {
  padding: 0;
  margin-bottom: 0;
}
header p {
  padding: 0;
  margin-top: 0;
  line-break: loose;
}

aside {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-top: 2rem;
}
aside nav {
  height: 90%;
}
aside nav ul {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
}
aside nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
aside nav ul li:last-child {
  margin-top: auto;
}
aside nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
}
aside nav ul li a:hover {
  background-color: #f1f1f1;
}
aside nav ul li a.active {
  background-color: #77a0d6;
}

main {
  grid-column: 2/8;
  grid-row: 2/4;
}
main #cardspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main #cardspace .card {
  width: 25rem;
  height: auto;
  margin: 1%;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 5px;
  /*
              & h2 {
                  font-size: 1.5rem;
                  font-weight: 700;
                  color: #000;
                  margin-bottom: 0;
                  padding-left: 1.5rem;

              }*/
}
main #cardspace .card p {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #000;
  margin: 0.5rem;
}
main #cardspace .card p .key {
  font-weight: 700;
}
main #cardspace .card button {
  margin-top: 0.5rem;
}
main #cardspace .card .card-img-container {
  height: 12.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
}
main #cardspace .card .card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px, dotted #350f94;
}
main #cardspace .card .basic-info-container {
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
main #cardspace .card .more-info-container {
  display: none;
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
main #cardspace .photocard {
  width: 20%;
  height: auto;
  margin: 1%;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 5px;
}
main #cardspace .photocard:hover {
  border-radius: 5px;
  transform: scale(1.1);
}
main #cardspace .photocard .photocard-img-container {
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
}
main #cardspace .photocard .photocard-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*
#detailspage-image-box {
    width: 100vw;
    height: 10vh;
    display: flex;



    & #detailspage-image-container {

        width: 100%;
        height: 50%;


        & img {
            max-width: 500px;
            width: 100%;
            height: 100%;
        }
    }
}
*/
#presentation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#presentation .segment {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: #771749;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}
#presentation .segment#team-info-box .image-container {
  width: 100%;
  height: 30%;
}
#presentation .segment#team-info-box .image-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
#presentation .segment#vd-info-box a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
  margin-left: 1rem;
  text-align: center;
}
#presentation .segment#vd-info-box a:hover {
  background-color: #f1f1f1;
}
#presentation .segment#vd-info-box a.active {
  background-color: #77a0d6;
}
#presentation .segment#vd-info-box .image-container {
  width: 40%;
  height: 100px;
}
#presentation .segment#vd-info-box .image-container img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
